
/* 	Typography styles
/* ======================================= */

body {
	font-family: "brandon-grotesque";
}

.f-thin {
	font-weight: 100;
}

.f-light {
	font-weight: 300;
}

.f-regular {
	font-weight: 400;
}

.f-medium {
	font-weight: 500;
}

.f-bold {
	font-weight: 700;
}